header{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
}
nav{
    display: flex;
    gap: 10px;
    margin-left: auto;
}
button{
    background-color: #f7f5f2d3;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
}
button:hover{
    background-color: #7e81e2;
    color: white;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: calc(100vh - 60px);
    margin-top: 60px;
    text-align: center;
}

aside {
    flex: none; 
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
}

figure {
    flex: none; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 80%;
    height: auto;
}

h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
    font-size: 1.1rem;
    color: #666;
    font-weight: normal;
    line-height: 1.4;
}